.dv_2{
			background: url('../img/dv2.png');
			background-position: left top;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size:100% 100%;
		}